html, body {
  height: 100%;
  line-height: normal;
}

body {
  box-sizing: border-box;
  font-family: 'Gotham Pro', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

.wrapper {
  overflow: hidden;
  min-width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.wrapper__container {
  flex: 1;
}

.main {
  min-width: 76%;
}
