/* comments */

.comments__container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  max-width: 855px;
  margin-top: 20px;
}

.comments__header {
  margin-top: 18px;
  padding-left: 53px;
}

.comments .feeds__container {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  line-height: 1.5;
  padding-top: 10px;
}

.comments .feeds__block {
  letter-spacing: .9px;
  padding: 3px 0 12px 0;
  margin: 30px 0 -4px 56px;
}

.comments .feeds__desc-header {
  margin-top: 0px;
}

.comments .feeds__desc-time {
  margin-top: -2px;
  letter-spacing: -0.5px;
}

.comments .feeds__desc-text {
  margin: 4px 0 10px 0;
  line-height: 30px;
} 

.feeds__img-withoutavatar {
  filter: grayscale(100%);
  position: relative;
}

.feeds__img-withoutavatar .feeds__img{
  min-width: 99px;
  min-height: 51px;
  position: absolute;
  left: 34px;
    top: 48px;
}

.feeds__img-withoutavatar{
  background-color: #f5f5f5;
}

.comments .pagination__container {
  margin: 5px 0 57px -56px;
}

.comments .pagination-display {
  margin-left: 324px;
  letter-spacing: .5px;
}
