/* pagination */


.pagination {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  width: 1100px;
}

.pagination__container {
  display: flex;
  justify-content: flex-start;
  margin: 10px auto 72px;
  padding-top: 18px;
  align-items: center;
}


.pagination-display {
  margin-left: 328px;
}

.pagination-pages {
  display: flex;
  width: 230px;
  justify-content: space-evenly;
  list-style: none;
  margin: 0 0 0 13px;
  padding: 0;
  font-weight: bold;
}

.pagination-item {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item.active {
  border: 1px solid #27273e;
  border-radius: 3px;
  background-color: #27273e;
}

.disabled-arrow {
  opacity: .3;
}

.pagination-link {
  color: #221f1f;
}

.pagination-item.active .pagination-link {
  color: #fff;
}

.pagination-link:hover{
  color: #ec1e79;
} 

.pagination-item.active:hover .pagination-link:hover {
  color: #fff;
  cursor: default;
}

